# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64


numpy=1.23.5=py38h90ce339_0
pandas=2.0.3=py38hf08cf0d_1
python=3.8.17=h4de0772_0_cpython
pytorch=1.12.0=py3.8_cuda11.6_cudnn8_0
pytorch-forecasting=0.10.2=pyhd8ed1ab_0
pytorch-lightning=2.0.6=pyhd8ed1ab_0
pytorch-minimize=0.0.2=pypi_0
pytorch-mutex=1.0=cuda
pytorch-scatter=2.0.9=py38_torch_1.12.0_cu116
pytorch-sparse=0.6.15=py38_torch_1.12.0_cu116
pyg=2.5.0=py38_torch_1.12.0_cu116
reformer-pytorch=1.4.4=pypi_0
scikit-learn=1.3.0=py38h763eb3e_0
scipy=1.10.1=py38h1aea9ed_3
torchaudio=0.12.0=py38_cu116
torchdiffeq=0.2.2=pyhd8ed1ab_0
torchinfo=1.8.0=pyhd8ed1ab_0
torchmetrics=0.11.4=pyhd8ed1ab_0
torchvision=0.13.0=py38_cu116
tornado=6.3.2=py38h91455d4_0
tqdm=4.65.0=pyhd8ed1ab_1
wandb=0.15.8=pyhd8ed1ab_0
